<!DOCTYPE HTML>
<html lang="ko">
	<head>
	    <meta charset="utf-8"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	    <meta name="description" content=""/>
	    <meta name="author" content=""/>

	    <title>오동가계부</title>

	    <link rel="stylesheet" type="text/css" href="style/lib/bootstrap-3.0.0/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="style/css/docs.css" />

		<script type="text/javascript" src="style/lib/jquery-1.11.1.js"></script>
		<script type="text/javascript" src="style/lib/bootstrap-3.0.0/js/bootstrap.js"></script>

  	</head>

	<body>

		<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
		  <div class="container">
		    <div class="navbar-header">
		    	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
		      <a href="#" class="navbar-brand">오동가계부</a>
		    </div>
		    <div class="navbar-collapse collapse bs-navbar-collapse">
	          <ul class="nav navbar-nav">
	            <li>
		          <a href="calendar.html"><span class="glyphicon glyphicon-pencil"></span> 가계부</a>
		        </li>
		        <li>
		          <a href="#"><span class="glyphicon glyphicon-credit-card"></span> 카드</a>
		        </li>
		        <li>
		          <a href="#"><span class="glyphicon glyphicon-stats"></span> 예결산</a>
		        </li>
		        <li>
		          <a href="assets.html"><span class="glyphicon glyphicon-usd"></span> 자산</a>
		        </li>
		        <li class="active">
		          <a href="settings.html"><span class="glyphicon glyphicon-wrench"></span> 설정</a>
		        </li>
	          </ul>
	          <form class="navbar-form navbar-right">
	            <button type="submit" class="btn btn-primary" onclick="location.href='signin.html'; return false;">로그아웃</button>
	          </form>
	        </div>
		  </div>
		</header>


	    <div class="container bs-docs-container">
	    	<div class="row" style="margin-top:10px;">
		    	<div class="col-md-2">
		          <div class="bs-sidebar hidden-print affix-top">
		            <ul class="nav bs-sidenav">
		            	<li><a href="#" data-toggle="modal" data-target="#accountbook">가계부설정</a></li>
		            	<li><a href="#" data-toggle="modal" data-target="#user">사용자설정</a></li>
		            	<li><a href="#" data-toggle="modal" data-target="#init-data">기초자료</a></li>
		            	<li><a href="#" data-toggle="modal" data-target="#backup">가져오기/내보내기</a></li>
		            </ul>
		          </div>
		        </div>
		        <div class="col-md-10" role="main">
		        	<div class="bs-docs-section">
					    <div class="page-header">
					      <h1>가계부 설정</h1>
					    </div>

					    <div class="bs-callout bs-callout-info">
					      <p>- 가계부명을 입력합니다.</p>
					      <p>- 월시작일을 설정합니다.</p>
					    </div>

					</div>
			        <div class="bs-docs-section">
					    <div class="page-header">
					      <h1>사용자설정 <small></small></h1>
					    </div>

					    <div class="bs-callout bs-callout-info">
					      <p>- 사용자를 등록합니다.</p>
					    </div>
				    </div>
				    <div class="bs-docs-section">
					    <div class="page-header">
					      <h1>기초자료</h1>
					    </div>

					    <div class="bs-callout bs-callout-info">
					      <p>- 월고정금액을 관리합니다.</p>
					      <p>- 반복사용금액을 관리합니다.</p>
					      <p>- 분류를 관리합니다.</p>
					    </div>
				    </div>

				    <div class="bs-docs-section">
					    <div class="page-header">
					      <h1>가져오기/내보내기</h1>
					    </div>

					    <div class="bs-callout bs-callout-info">
					      <p>- 엑셀 업로드/엑셀 다운로드</p>
					    </div>

				    </div>

				    <div style="margin-bottom:500px;"></div>
				</div>
	    	</div>
	    </div>

	    <!-- Modal : 가계부 설정 -->
		<div class="modal fade" id="accountbook" tabindex="-1" role="dialog" aria-labelledby="accountbookLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title">가계부 설정</h4>
					</div>
					<div class="modal-body">
		      			<form class="form-horizontal" role="form">
		      			  <div class="form-group">
						    <label for="startdate" class="col-lg-2 control-label">가계부명</label>
						    <div class="col-lg-9">
						    	<input type="text" class="form-control" id="description" placeholder="가계부명" autocomplete="true" />
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="startdate" class="col-lg-2 control-label">월시작일</label>
						    <div class="col-lg-3">
							    <select class="form-control">
								  <option>1</option>
								  <option>2</option>
								  <option>3</option>
								  <option>4</option>
								  <option>5</option>
								  <option>...</option>
								  <option>28</option>
								  <option>말일</option>
								</select>
							</div>
							<label for="startdate" class="col-lg-2 control-label">휴일시</label>
							<div class="col-lg-4">
							    <select class="form-control">
								  <option>당일</option>
								  <option>다음영업일</option>
								  <option>이전영업일</option>
								</select>
							</div>
						  </div>

						  <div class="form-group">
						    <label for="memo" class="col-lg-2 control-label">메모</label>
						    <div class="col-lg-9">
						    	<textarea class="form-control" style="resize:none;" rows="3" id="memo"></textarea>
						    </div>
						  </div>
						</form>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<!-- Modal : 사용자 설정 -->
		<div class="modal fade" id="user" tabindex="-1" role="dialog" aria-labelledby="userLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title">사용자 설정</h4>
					</div>
					<div class="modal-body">
						<div class="panel panel-default">
					        <div class="panel-heading">
					            <h3 class="panel-title">사용자를 추가하세요.</h3>
					        </div>
					        <div class="panel-body">
					            <input type="text" class="form-control" placeholder="사용자명" />
					        </div>
					        <div class="panel-footer">
					        	<button type="button" class="btn btn-default">등록</button>
					        </div>
					    </div>

	      			    <div class="panel panel-default">
					        <!-- Default panel contents -->
					        <div class="panel-heading">
					        	<h3 class="panel-title">사용자를 선택하세요.</h3>
					        </div>

					        <!-- Table -->
					        <table class="table table-hover">
					          <tbody>
					            <tr>
					              <td>
					              	<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="checked" />
					              </td>
					              <td>오리양</td>
					              <td>주사용자</td>
					            </tr>
					            <tr>
					              <td>
					              	<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" />
					              </td>
					              <td>동치미군</td>
					              <td></td>
					            </tr>
					            <tr>
					              <td>
					              	<input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" />
					              </td>
					              <td>오동</td>
					              <td></td>
					            </tr>
					          </tbody>
					        </table>

					        <div class="panel-footer">
					        	<button type="button" class="btn btn-default">삭제</button>
					        	<button type="button" class="btn btn-default">선택</button>
					        </div>
			            </div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<!-- Modal : 기초자료 -->
		<div class="modal fade" id="init-data" tabindex="-1" role="dialog" aria-labelledby="initDataLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title">기초자료 설정</h4>
					</div>
					<div class="modal-body">
						<div style="margin-bottom:20px;">
							<ul class="nav nav-pills" id="myTab">
						        <li class="dropdown active">
						          <a id="monthly" role="button" data-toggle="dropdown" href="#">월고정금액 <b class="caret"></b></a>
						          <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="monthly">
						            <li role="presentation"><a role="menuitem" tabindex="-1" href="#monthly-in" data-toggle="tab">수입</a></li>
						            <li role="presentation" class="active"><a role="menuitem" tabindex="-1" href="#monthly-out" data-toggle="tab">지출</a></li>
						            <li role="presentation"><a role="menuitem" tabindex="-1" href="#monthly-save" data-toggle="tab">저축</a></li>
						          </ul>
						        </li>
						        <!-- <li><a href="#cycle" data-toggle="tab">반복금액</a></li> -->
						        <li class="dropdown">
						          <a id="category" role="button" data-toggle="dropdown" href="#">분류 <b class="caret"></b></a>
						          <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="category">
						            <li role="presentation"><a role="menuitem" tabindex="-1" href="#category-in" data-toggle="tab">수입</a></li>
						            <li role="presentation"><a role="menuitem" tabindex="-1" href="#category-out" data-toggle="tab">지출</a></li>
						            <li role="presentation"><a role="menuitem" tabindex="-1" href="#category-save" data-toggle="tab">저축</a></li>
						          </ul>
						        </li>
					      	</ul>
				      	</div>
				      	<div id="myTabContent" class="tab-content">
				      		<div class="tab-pane fade in" id="monthly-in">
				      			<div class="panel panel-default">
							        <div class="panel-heading">
							        	<h3 class="panel-title">수입 월고정금액 <small></small></h3>
							        </div>
							        <table class="table table-condensed table-hover table-responsive">
					      				<thead>
					      				  <tr>
					      				  	<th></th>
					      				  	<th>일자</th>
					      				  	<th>내역</th>
					      				  	<th style="text-align:right;">금액</th>
					      				  	<th>대분류</th>
					      				  	<th>소분류</th>
					      				  	<th>계좌</th>
					      				  </tr>
					      				</thead>
								        <tbody>
								          <tr>
								            <td><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" /></td>
								            <td>말일</td>
								            <td>월급</td>
								            <td class="money_in">1,000,000</td>
								            <td>고정수입</td>
								            <td>급여</td>
								            <td>동치미 하나은행</td>
								          </tr>
								          <tr>
								          	<td><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" /></td>
								            <td>말일</td>
								            <td>월급</td>
								            <td class="money_in">1,000,000</td>
								            <td>고정수입</td>
								            <td>급여</td>
								            <td>오리양 하나은행</td>
								          </tr>
								        </tbody>
								    </table>

							        <div class="panel-footer">
							        	<button type="button" class="btn btn-default">수정</button>
							        	<button type="button" class="btn btn-default">삭제</button>
							        </div>
						        </div>
				      			<div class="panel panel-default">
							        <div class="panel-heading">
							          <h3 class="panel-title">월고정금액</h3>
							        </div>
							        <div class="panel-body">
							            <form class="form-horizontal" role="form">
										  <div class="form-group">
										    <label for="startdate" class="col-lg-2 control-label">날짜</label>
										    <div class="col-lg-3">
											    <select class="form-control">
												  <option>1</option>
												  <option>2</option>
												  <option>3</option>
												  <option>4</option>
												  <option>5</option>
												  <option>...</option>
												  <option>28</option>
												  <option>말일</option>
												</select>
											</div>
											<label for="startdate" class="col-lg-2 control-label">휴일시</label>
											<div class="col-lg-4">
											    <select class="form-control">
												  <option>당일</option>
												  <option>다음영업일</option>
												  <option>이전영업일</option>
												</select>
											</div>
										  </div>
										  <div class="form-group">
										    <label for="description" class="col-lg-2 control-label">내역</label>
										    <div class="col-lg-9">
										    	<input type="text" class="form-control" id="description" placeholder="내역" autocomplete="true" />
										    </div>
										  </div>
										  <div class="form-group">
										    <label for="money" class="col-lg-2 control-label">금액</label>
										    <div class="col-lg-9">
										    	<input type="number" class="form-control" id="money" step="100" placeholder="0" pattern="[0-9]*"/>
										    </div>
										  </div>
										  <div class="form-group">
										    <label for="account" class="col-lg-2 control-label">계좌</label>
										    <div class="col-lg-9">
										    	<!-- <input type="text" class="form-control" id="indescription" placeholder="계좌"> -->
										    	<select class="form-control" id="account">
												  <option>오리양 지갑</option>
												  <option>동치미 지갑</option>
												  <option>오리양 용돈</option>
												  <option>동치미 용돈</option>
												</select>
										    </div>
										  </div>
										  <div class="form-group">
										    <label for="category1" class="col-lg-2 control-label">분류</label>
										    <div class="col-lg-4">
										    	<!-- <input type="text" class="form-control" id="indescription" placeholder="분류"> -->
										    	<select class="form-control" id="category1">
												  <option>고정수입</option>
												  <option>기타수입</option>
												</select>
										    </div>
										    <div class="col-lg-5">
										    	<select class="form-control" id="category2" disabled="true">
												  <option>소분류없음</option>
												  <option>급여</option>
												  <option>상여</option>
												  <option>사업소득</option>
												</select>
											</div>
										  </div>
										  <div class="form-group">
										    <label for="user" class="col-lg-2 control-label">사용자</label>
										    <div class="col-lg-9">
										    	<!-- <input type="text" class="form-control" id="indescription" placeholder="사용자"> -->
										    	<select class="form-control" id="user">
												  <option>오동</option>
												  <option>오리양</option>
												  <option>동치미군</option>
												</select>
										    </div>
										  </div>
										  <div class="form-group">
										    <label for="memo" class="col-lg-2 control-label">메모</label>
										    <div class="col-lg-9">
										    	<textarea class="form-control" style="resize:none;" rows="3" id="memo"></textarea>
										    </div>
										  </div>
										</form>
							        </div>
							        <div class="panel-footer">
							        	<button type="button" class="btn btn-default">저장</button>
							        </div>
								</div>

				      		</div>
				      		<div class="tab-pane fade active in" id="monthly-out">
				      			<div class="panel panel-default">
							        <div class="panel-heading">
							        	<h3 class="panel-title">지출 월고정금액 <small></small></h3>
							        </div>
							        <table class="table table-condensed table-hover table-responsive">
					      				<thead>
					      				  <tr>
					      				    <th></th>
					      				  	<th>일자</th>
					      				  	<th>내역</th>
					      				  	<th style="text-align:right;">금액</th>
					      				  	<th>대분류</th>
					      				  	<th>소분류</th>
					      				  	<th>계좌</th>
					      				  </tr>
					      				</thead>
								        <tbody>
								          <tr>
								          	<th><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" /></th>
								            <td>5일</td>
								            <td>보험</td>
								            <td class="money_out">100,000</td>
								            <td>보험</td>
								            <td>보험</td>
								            <td>동치미 자동이체</td>
								          </tr>
								          <tr>
								          	<th><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" /></th>
								            <td>5일</td>
								            <td>보험</td>
								            <td class="money_out">50,000</td>
								            <td>보험</td>
								            <td>보험</td>
								            <td>동치미 자동이체</td>
								          </tr>
								          <tr>
								          	<th><input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" /></th>
								            <td>10일</td>
								            <td>보험</td>
								            <td class="money_out">50,000</td>
								            <td>보험</td>
								            <td>보험</td>
								            <td>오리양 자동이체</td>
								          </tr>
								        </tbody>
								    </table>

							        <div class="panel-footer">
							        	<button type="button" class="btn btn-default">수정</button>
							        	<button type="button" class="btn btn-default">삭제</button>
							        </div>
						        </div>
				      			<div class="panel panel-default">
							        <div class="panel-heading">
							          <h3 class="panel-title">월고정금액</h3>
							        </div>
							        <div class="panel-body">
							            <form class="form-horizontal" role="form">
										  <div class="form-group">
										    <label for="startdate" class="col-lg-2 control-label">날짜</label>
										    <div class="col-lg-3">
											    <select class="form-control">
												  <option>1</option>
												  <option>2</option>
												  <option>3</option>
												  <option>4</option>
												  <option>5</option>
												  <option>...</option>
												  <option>28</option>
												  <option>말일</option>
												</select>
											</div>
											<label for="startdate" class="col-lg-2 control-label">휴일시</label>
											<div class="col-lg-4">
											    <select class="form-control">
												  <option>당일</option>
												  <option>다음영업일</option>
												  <option>이전영업일</option>
												</select>
											</div>
										  </div>
										  <div class="form-group">
										    <label for="description" class="col-lg-2 control-label">내역</label>
										    <div class="col-lg-9">
										    	<input type="text" class="form-control" id="description" placeholder="내역" autocomplete="true" />
										    </div>
										  </div>
										  <div class="form-group">
										    <label for="money" class="col-lg-2 control-label">금액</label>
										    <div class="col-lg-9">
										    	<input type="number" class="form-control" id="money" step="100" placeholder="0" pattern="[0-9]*"/>
										    </div>
										  </div>
										  <div class="form-group">
										    <label for="account" class="col-lg-2 control-label">계좌</label>
										    <div class="col-lg-9">
										    	<!-- <input type="text" class="form-control" id="indescription" placeholder="계좌"> -->
										    	<select class="form-control" id="account">
												  <option>오리양 지갑</option>
												  <option>동치미 지갑</option>
												  <option>오리양 용돈</option>
												  <option>동치미 용돈</option>
												</select>
										    </div>
										  </div>
										  <div class="form-group">
										    <label for="category1" class="col-lg-2 control-label">분류</label>
										    <div class="col-lg-4">
										    	<!-- <input type="text" class="form-control" id="indescription" placeholder="분류"> -->
										    	<select class="form-control" id="category1">
												  <option>고정수입</option>
												  <option>기타수입</option>
												</select>
										    </div>
										    <div class="col-lg-5">
										    	<select class="form-control" id="category2" disabled="true">
												  <option>소분류없음</option>
												  <option>급여</option>
												  <option>상여</option>
												  <option>사업소득</option>
												</select>
											</div>
										  </div>
										  <div class="form-group">
										    <label for="user" class="col-lg-2 control-label">사용자</label>
										    <div class="col-lg-9">
										    	<!-- <input type="text" class="form-control" id="indescription" placeholder="사용자"> -->
										    	<select class="form-control" id="user">
												  <option>오동</option>
												  <option>오리양</option>
												  <option>동치미군</option>
												</select>
										    </div>
										  </div>
										  <div class="form-group">
										    <label for="memo" class="col-lg-2 control-label">메모</label>
										    <div class="col-lg-9">
										    	<textarea class="form-control" style="resize:none;" rows="3" id="memo"></textarea>
										    </div>
										  </div>
										</form>
							        </div>
							        <div class="panel-footer">
							        	<button type="button" class="btn btn-default">저장</button>
							        </div>
								</div>
				      		</div>
				      		<div class="tab-pane fade in" id="monthly-save">
				      			<div class="panel panel-default">
							        <div class="panel-heading">
							        	<h3 class="panel-title">저축 월고정금액 <small></small></h3>
							        </div>
							        <table class="table table-condensed table-hover table-responsive">
					      				<thead>
					      				  <tr>
					      				    <th></th>
					      				  	<th>일자</th>
					      				  	<th>내역</th>
					      				  	<th style="text-align:right;">금액</th>
					      				  	<th>대분류</th>
					      				  	<th>소분류</th>
					      				  	<th>계좌</th>
					      				  </tr>
					      				</thead>
								        <tbody>
								          <tr>
								          	<th><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" /></th>
								            <td>1일</td>
								            <td>저축</td>
								            <td class="money_out">100,000</td>
								            <td>저축</td>
								            <td>적금</td>
								            <td>
								            	<div>동치미 자동이체</div>
								            	<div><span class="glyphicon glyphicon-arrow-right"></span> 적금 10</div>
								            </td>
								          </tr>
								          <tr>
								          	<th><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" /></th>
								            <td>1일</td>
								            <td>저축</td>
								            <td class="money_out">50,000</td>
								            <td>저축</td>
								            <td>적금</td>
								            <td>
								            	<div>동치미 자동이체</div>
								            	<div><span class="glyphicon glyphicon-arrow-right"></span> 적금 10</div>
								            </td>
								          </tr>
								        </tbody>
								    </table>

							        <div class="panel-footer">
							        	<button type="button" class="btn btn-default">수정</button>
							        	<button type="button" class="btn btn-default">삭제</button>
							        </div>
						        </div>
				      			<div class="panel panel-default">
							        <div class="panel-heading">
							          <h3 class="panel-title">월고정금액</h3>
							        </div>
							        <div class="panel-body">
							            <form class="form-horizontal" role="form">
										  <div class="form-group">
										    <label for="startdate" class="col-lg-2 control-label">날짜</label>
										    <div class="col-lg-3">
											    <select class="form-control">
												  <option>1</option>
												  <option>2</option>
												  <option>3</option>
												  <option>4</option>
												  <option>5</option>
												  <option>...</option>
												  <option>28</option>
												  <option>말일</option>
												</select>
											</div>
											<label for="startdate" class="col-lg-2 control-label">휴일시</label>
											<div class="col-lg-4">
											    <select class="form-control">
												  <option>당일</option>
												  <option>다음영업일</option>
												  <option>이전영업일</option>
												</select>
											</div>
										  </div>
										  <div class="form-group">
										    <label for="category1" class="col-lg-2 control-label">분류</label>
										    <div class="col-lg-4">
										    	<!-- <input type="text" class="form-control" id="indescription" placeholder="분류"> -->
										    	<select class="form-control" id="category1">
												  <option>저축</option>
												  <option>부채상환</option>
												</select>
										    </div>
										    <div class="col-lg-5">
										    	<select class="form-control" id="category2" disabled="true">
												  <option>소분류없음</option>
												  <option>예금</option>
												  <option>적금</option>
												  <option>펀드</option>
												</select>
											</div>
										  </div>
										  <div class="form-group">
										    <label for="account" class="col-lg-2 control-label">출금</label>
										    <div class="col-lg-9">
										    	<!-- <input type="text" class="form-control" id="indescription" placeholder="계좌"> -->
										    	<select class="form-control" id="account">
												  <option>오리양 지갑</option>
												  <option>동치미 지갑</option>
												  <option>오리양 용돈</option>
												  <option>동치미 용돈</option>
												</select>
										    </div>
										  </div>
										  <div class="form-group">
										    <label for="account" class="col-lg-2 control-label">입금</label>
										    <div class="col-lg-9">
										    	<!-- <input type="text" class="form-control" id="indescription" placeholder="계좌"> -->
										    	<select class="form-control" id="account">
												  <option>오리양 지갑</option>
												  <option>동치미 지갑</option>
												  <option>오리양 용돈</option>
												  <option>동치미 용돈</option>
												</select>
										    </div>
										  </div>
										  <div class="form-group">
										    <label for="money" class="col-lg-2 control-label">금액</label>
										    <div class="col-lg-9">
										    	<input type="number" class="form-control" id="money" step="100" placeholder="0" pattern="[0-9]*"/>
										    </div>
										  </div>
										  <div class="form-group">
										    <label for="user" class="col-lg-2 control-label">사용자</label>
										    <div class="col-lg-9">
										    	<!-- <input type="text" class="form-control" id="indescription" placeholder="사용자"> -->
										    	<select class="form-control" id="user">
												  <option>오동</option>
												  <option>오리양</option>
												  <option>동치미군</option>
												</select>
										    </div>
										  </div>
										  <div class="form-group">
										    <label for="memo" class="col-lg-2 control-label">메모</label>
										    <div class="col-lg-9">
										    	<textarea class="form-control" style="resize:none;" rows="3" id="memo"></textarea>
										    </div>
										  </div>
										</form>
							        </div>
							        <div class="panel-footer">
							        	<button type="button" class="btn btn-default">저장</button>
							        </div>
								</div>
				      		</div>
				      		<!--
				      		<div class="tab-pane fade in" id="cycle">
				      			<div class="panel panel-default">
							        <div class="panel-heading">
							        	<h3 class="panel-title">반복사용<small></small></h3>
							        </div>
							        <table class="table table-condensed table-hover table-responsive">
					      				<thead>
					      				  <tr>
					      				    <th></th>
					      				  	<th>반복</th>
					      				  	<th>내역</th>
					      				  	<th style="text-align:right;">금액</th>
					      				  	<th>대분류</th>
					      				  	<th>소분류</th>
					      				  	<th>계좌</th>
					      				  </tr>
					      				</thead>
								        <tbody>
								          <tr>
								          	<th><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"></th>
								            <td>매달 1일</td>
								            <td>곗돈</td>
								            <td class="money_out">10,000</td>
								            <td>기타지출</td>
								            <td>계/회비</td>
								            <td>
								            	<div>동치미 자동이체</div>
								            </td>
								          </tr>
								          <tr>
								          	<th><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"></th>
								            <td>매달 10일</td>
								            <td>곗돈</td>
								            <td class="money_out">50,000</td>
								            <td>기타지출</td>
								            <td>계/회비</td>
								            <td>
								            	<div>동치미 자동이체</div>
								            </td>
								          </tr>
								        </tbody>
								    </table>

							        <div class="panel-footer">
							        	<button type="button" class="btn btn-default">수정</button>
							        	<button type="button" class="btn btn-default">삭제</button>
							        </div>
						        </div>
				      			<div class="panel panel-default">
							        <div class="panel-heading">
							          <h3 class="panel-title">반복사용</h3>
							        </div>
							        <div class="panel-body">
							            <form class="form-horizontal" role="form">
										  <div class="form-group">
										    <label for="startdate" class="col-lg-2 control-label">날짜</label>
										    <div class="col-lg-3">
											    <select class="form-control">
												  <option>1</option>
												  <option>2</option>
												  <option>3</option>
												  <option>4</option>
												  <option>5</option>
												  <option>...</option>
												  <option>28</option>
												  <option>말일</option>
												</select>
											</div>
											<label for="startdate" class="col-lg-2 control-label">반복</label>
											<div class="col-lg-4">
											    <select class="form-control">
												  <option>매일</option>
												  <option>주중매일</option>
												  <option>매주</option>
												  <option>2주마다</option>
												  <option>매달</option>
												  <option>2달마다</option>
												  <option>3달마다</option>
												  <option>매년</option>
												</select>
											</div>
										  </div>
										  <div class="form-group">
										    <label for="category1" class="col-lg-2 control-label">분류</label>
										    <div class="col-lg-4">
										    	<select class="form-control" id="category1">
												  <option>저축</option>
												  <option>생활비</option>
												</select>
										    </div>
										    <div class="col-lg-5">
										    	<select class="form-control" id="category2" disabled="true">
												  <option>소분류없음</option>
												</select>
											</div>
										  </div>
										  <div class="form-group">
										    <label for="account" class="col-lg-2 control-label">출금</label>
										    <div class="col-lg-9">
										    	<select class="form-control" id="account">
												  <option>오리양 지갑</option>
												  <option>동치미 지갑</option>
												  <option>오리양 용돈</option>
												  <option>동치미 용돈</option>
												</select>
										    </div>
										  </div>
										  <div class="form-group">
										    <label for="account" class="col-lg-2 control-label">입금</label>
										    <div class="col-lg-9">
										    	<select class="form-control" id="account">
												  <option>오리양 지갑</option>
												  <option>동치미 지갑</option>
												  <option>오리양 용돈</option>
												  <option>동치미 용돈</option>
												</select>
										    </div>
										  </div>
										  <div class="form-group">
										    <label for="money" class="col-lg-2 control-label">금액</label>
										    <div class="col-lg-9">
										    	<input type="number" class="form-control" id="money" step="100" placeholder="0" pattern="[0-9]*"/>
										    </div>
										  </div>
										  <div class="form-group">
										    <label for="user" class="col-lg-2 control-label">사용자</label>
										    <div class="col-lg-9">
										    	<select class="form-control" id="user">
												  <option>오동</option>
												  <option>오리양</option>
												  <option>동치미군</option>
												</select>
										    </div>
										  </div>
										  <div class="form-group">
										    <label for="memo" class="col-lg-2 control-label">메모</label>
										    <div class="col-lg-9">
										    	<textarea class="form-control" style="resize:none;" rows="3" id="memo"></textarea>
										    </div>
										  </div>
										</form>
							        </div>
							        <div class="panel-footer">
							        	<button type="button" class="btn btn-default">저장</button>
							        </div>
								</div>
				      		</div>
				      		-->
				      		<div class="tab-pane fade in" id="category-in" style="">
				      			<div class="row" style="margin:0;">
					      			<div class="panel panel-default col-md-5" style="padding:0;">
								        <div class="panel-heading">
								          <h3 class="panel-title">대분류</h3>
								        </div>
								        <div class="panel-body">
								            <form class="form-horizontal" role="form">
											  <div class="form-group" style="margin-bottom:0;">
											    <div class="col-lg-7">
											    	<input type="text" class="form-control" id="description" placeholder="대분류명" />
											    </div>
											    <div class="col-lg-3">
											    	<button type="button" class="btn btn-default">저장</button>
											    </div>
											  </div>
											</form>
								        </div>
								        <table class="table table-condensed table-hover table-responsive" height="100px">
						      				<tbody>
									          <tr>
									          	<td><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="checked" /></td>
									            <td>고정수입</td>
									          </tr>
									          <tr>
									          	<td><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked="checked" /></td>
									          	<td>기타수입</td>
									          </tr>
									        </tbody>
									    </table>

									    <div class="panel-footer">
									    	<button type="button" class="btn btn-default">순서변경</button>
									    </div>
									</div>
									<div class="col-md-1"></div>
							        <div class="panel panel-default col-md-5" style="padding:0; align:right;">
								        <div class="panel-heading">
								          <h3 class="panel-title">소분류</h3>
								        </div>
								        <div class="panel-body">
								            <form class="form-horizontal" role="form">
											  <div class="form-group" style="margin-bottom:0;">
											    <div class="col-lg-7">
											    	<input type="text" class="form-control" id="description" placeholder="소분류명" />
											    </div>
											    <div class="col-lg-3">
											    	<button type="button" class="btn btn-default">저장</button>
											    </div>
											  </div>
											</form>
								        </div>
								        <table class="table table-condensed table-hover table-responsive">
									        <tbody>
									          <tr>
									          	<td><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="checked" /></td>
									            <td>급여</td>
									          </tr>
									          <tr>
									          	<td><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="checked" /></td>
									          	<td>상여</td>
									          </tr>
									          <tr>
									          	<td><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="checked"/></td>
									          	<td>기타</td>
									          </tr>
									        </tbody>
									    </table>

								        <div class="panel-footer">
									    	<button type="button" class="btn btn-default">순서변경</button>
									    </div>
									</div>
								</div>
				      		</div>
				      		<div class="tab-pane fade in" id="category-out">
				      			<div class="panel panel-default">
							        <div class="panel-heading">
							          <h3 class="panel-title">대분류</h3>
							        </div>
							        <div class="panel-body">
							            <form class="form-horizontal" role="form">
										  <div class="form-group" style="margin-bottom:0;">
									  		<label for="startdate" class="col-lg-2 control-label">대분류명</label>
										    <div class="col-lg-7">
										    	<input type="text" class="form-control" id="description" placeholder="대분류명" />
										    </div>
										    <div class="col-lg-3">
										    	<button type="button" class="btn btn-default">저장</button>
										    </div>
										  </div>
										</form>
							        </div>
							        <table class="table table-hover table-responsive">
							        	<colgroup>
							        		<col width="10%"/>
							        		<col width="90%"/>
							        	</colgroup>
					      				<tbody>
								          <tr>
								          	<td><input type="radio" name="category1" id="optionsRadios1" value="option1" checked="checked"/></td>
								            <td>생활비</td>
								          </tr>
								          <tr>
								          	<td><input type="radio" name="category1" id="optionsRadios2" value="option2" /></td>
								          	<td>교통비</td>
								          </tr>
								          <tr>
								          	<td><input type="radio" name="category1" id="optionsRadios2" value="option2" /></td>
								          	<td>보험</td>
								          </tr>
								          <tr>
								          	<td><input type="radio" name="category1" id="optionsRadios2" value="option2" /></td>
								          	<td>기타지출</td>
								          </tr>
								        </tbody>
								    </table>
								    <div class="panel-footer">
								    	<button type="button" class="btn btn-default" onclick="editCategory1();">편집</button>
								    </div>
								</div>
								<div class="col-md-1"></div>
						        <div class="panel panel-default">
							        <div class="panel-heading">
							          <h3 class="panel-title">소분류</h3>
							        </div>
							        <div class="panel-body">
							            <form class="form-horizontal" role="form">
										  <div class="form-group" style="margin-bottom:0;">
										  	<label for="startdate" class="col-lg-2 control-label">소분류명</label>
										    <div class="col-lg-7">
										    	<input type="text" class="form-control" id="description" placeholder="소분류명" />
										    </div>
										    <div class="col-lg-3">
										    	<button type="button" class="btn btn-default">저장</button>
										    </div>
										  </div>
										</form>
							        </div>
							        <table class="table table-hover table-responsive">
							        	<colgroup>
							        		<col width="10%"/>
							        		<col width="90%"/>
							        	</colgroup>
								        <tbody>
								          <tr>
								          	<td><input type="radio" name="category2" id="optionsRadios1" value="option1" checked="checked"/></td>
								            <td>식비</td>
								          </tr>
								          <tr>
								          	<td><input type="radio" name="category2" id="optionsRadios2" value="option2" /></td>
								          	<td>간식비</td>
								          </tr>
								          <tr>
								          	<td><input type="radio" name="category2" id="optionsRadios3" value="option3" /></td>
								          	<td>생활용품</td>
								          </tr>
								          <tr>
								          	<td><input type="radio" name="category2" id="optionsRadios4" value="option4" /></td>
								          	<td>기타</td>
								          </tr>
								        </tbody>
								    </table>

							        <div class="panel-footer">
								    	<button type="button" class="btn btn-default">편집</button>
								    </div>
								</div>
				      		</div>
				      		<div class="tab-pane fade in" id="category-save">
				      			분류 저축
				      		</div>
				      	</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->


		<script type="text/javascript">

			$(function() {
				var $window = $(window)
			    var $body   = $(document.body)

			    var navHeight = $('.navbar').outerHeight(true) + 10

			    $body.scrollspy({
			      target: '.bs-sidebar',
			      offset: navHeight
			    })

			    $window.on('load', function () {
			      $body.scrollspy('refresh')
			    })

			    $('.bs-docs-container [href=#]').click(function (e) {
			      e.preventDefault()
			    })

				// back to top
			    setTimeout(function () {
			      var $sideBar = $('.bs-sidebar')

			      $sideBar.affix({
				        offset: {
				          top: function () {
				            var offsetTop      = $sideBar.offset().top
				            var sideBarMargin  = parseInt($sideBar.children(0).css('margin-top'), 10)
				            var navOuterHeight = $('.bs-docs-nav').height()

				            return (this.top = offsetTop - navOuterHeight - sideBarMargin)
				          }
				        }
				      })
			    }, 100);

			    $(":radio[name='category1']").click(function() {
			    	//alert($(this).val());
			    })

			});

			function editCategory1() {

			}

		</script>

	</body>
</html>
