<!DOCTYPE HTML>
<html lang="ko">
	<head>
	    <meta charset="utf-8"/>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	    <meta name="description" content=""/>
	    <meta name="author" content=""/>

	    <title>오동가계부</title>

	    <!-- Bootstrap Core CSS -->
    	<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

		<!-- MetisMenu CSS -->
    	<link href="bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet" />

    	<!-- DataTables CSS -->
	    <link href="bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />

	    <!-- DataTables Responsive CSS -->
	    <link href="bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet" />

	    <!-- Custom CSS -->
		<link rel="stylesheet" type="text/css" href="style/css/sb-admin-2.css" />

		<!-- Custom Fonts -->
    	<link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

  	</head>

	<body>

		<div id="wrapper">

			<!-- Navigation -->
        	<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand" href="index.html">오동가계부</a>
	            </div>
	            <!-- /.navbar-header -->

	            <ul class="nav navbar-top-links navbar-right">
	                <li class="dropdown">
	                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
	                    </a>
	                    <ul class="dropdown-menu dropdown-messages">
	                        <li>
	                            <a href="#">
	                                <div>
	                                    <strong>2015.06.09 22:59</strong>
	                                </div>
	                                <div>신한체크승인 06/09 22:59 3,000원 씨유대전가장점 잔액94,233원</div>
	                            </a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a href="#">
	                                <div>
	                                    <strong>2015.06.09 22:59</strong>
	                                </div>
	                                <div>신한체크승인 06/09 22:59 3,000원 씨유대전가장점 잔액94,233원</div>
	                            </a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a href="#">
	                                <div>
	                                    <strong>2015.06.09 22:59</strong>
	                                </div>
	                                <div>신한체크승인 06/09 22:59 3,000원 씨유대전가장점 잔액94,233원</div>
	                            </a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a class="text-center" href="#">
	                                <strong>SMS 더보기</strong>
	                                <i class="fa fa-angle-right"></i>
	                            </a>
	                        </li>
	                    </ul>
	                    <!-- /.dropdown-messages -->
	                </li>
	                <!-- /.dropdown -->

	                <li class="dropdown">
	                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
	                    </a>
	                    <ul class="dropdown-menu dropdown-alerts">
	                        <li>
	                            <a href="#">
	                                <div>
	                                    <i class="fa fa-comment fa-fw"></i> New Comment
	                                    <span class="pull-right text-muted small">4 minutes ago</span>
	                                </div>
	                            </a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a href="#">
	                                <div>
	                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
	                                    <span class="pull-right text-muted small">12 minutes ago</span>
	                                </div>
	                            </a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a href="#">
	                                <div>
	                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
	                                    <span class="pull-right text-muted small">4 minutes ago</span>
	                                </div>
	                            </a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a href="#">
	                                <div>
	                                    <i class="fa fa-tasks fa-fw"></i> New Task
	                                    <span class="pull-right text-muted small">4 minutes ago</span>
	                                </div>
	                            </a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a href="#">
	                                <div>
	                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
	                                    <span class="pull-right text-muted small">4 minutes ago</span>
	                                </div>
	                            </a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a class="text-center" href="#">
	                                <strong>See All Alerts</strong>
	                                <i class="fa fa-angle-right"></i>
	                            </a>
	                        </li>
	                    </ul>
	                    <!-- /.dropdown-alerts -->
	                </li>
	                <!-- /.dropdown -->

	                <li class="dropdown">
	                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
	                    </a>
	                    <ul class="dropdown-menu dropdown-user">
	                        <li><a href="#"><i class="fa fa-user fa-fw"></i> 내정보</a>
	                        </li>
	                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> 설정</a>
	                        </li>
	                        <li class="divider"></li>
	                        <li><a href="signin"><i class="fa fa-sign-out fa-fw"></i> 로그아웃</a>
	                        </li>
	                    </ul>
	                    <!-- /.dropdown-user -->
	                </li>
	                <!-- /.dropdown -->
	            </ul>
	            <!-- /.navbar-top-links -->

	            <div class="navbar-default sidebar" role="navigation">
	                <div class="sidebar-nav navbar-collapse">
	                    <ul class="nav" id="side-menu">
	                        <li class="sidebar-search">
	                            <div class="input-group custom-search-form">
	                                <input type="text" class="form-control" placeholder="Search..." />
	                                <span class="input-group-btn">
		                                <button class="btn btn-default" type="button">
		                                    <i class="fa fa-search"></i>
		                                </button>
		                            </span>
	                            </div>
	                            <!-- /input-group -->
	                        </li>
	                        <li class="active">
	                            <a href="#"><i class="fa fa-table fa-fw"></i> 가계부<span class="fa arrow"></span></a>
	                            <ul class="nav nav-second-level">
	                                <li class="active">
	                                    <a href="accountbook">가계부관리</a>
	                                </li>
	                                <li>
	                                    <a href="#">가계부통계</a>
	                                </li>
	                            </ul>
	                            <!-- /.nav-second-level -->
	                        </li>
	                        <li>
	                            <a href="#"><i class="fa fa-credit-card fa-fw"></i> 카드<span class="fa arrow"></span></a>
	                            <ul class="nav nav-second-level">
	                                <li>
	                                    <a href="#">카드관리</a>
	                                </li>
	                                <li>
	                                    <a href="#">카드통계</a>
	                                </li>
	                            </ul>
	                            <!-- /.nav-second-level -->
	                        </li>
	                        <li>
	                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 예결산<span class="fa arrow"></span></a>
	                            <ul class="nav nav-second-level">
	                                <li>
	                                    <a href="flot">결산관리</a>
	                                </li>
	                                <li>
	                                    <a href="morris">예산관리</a>
	                                </li>
	                            </ul>
	                            <!-- /.nav-second-level -->
	                        </li>
	                        <li class="active">
	                            <a href="#"><i class="fa fa-won fa-fw"></i> 자산<span class="fa arrow"></span></a>
	                            <ul class="nav nav-second-level">
	                                <li class="active">
	                                    <a href="assets">자산관리</a>
	                                </li>
	                                <li>
	                                    <a href="#">자산통계</a>
	                                </li>
	                            </ul>
	                            <!-- /.nav-second-level -->
	                        </li>
	                        <li>
	                            <a href="#"><i class="fa fa-wrench fa-fw"></i> 설정<span class="fa arrow"></span></a>
	                            <ul class="nav nav-second-level">
	                            	<li>
                                        <a href="settings">가계부설정</a>
                                    </li>
                                    <li>
                                        <a href="#">사용자설정</a>
                                    </li>
	                                <li>
	                                    <a href="#">기초자료 <span class="fa arrow"></span></a>
	                                    <ul class="nav nav-third-level">
	                                        <li>
	                                            <a href="#">월고정금액</a>
	                                        </li>
	                                        <li>
	                                            <a href="settings-category">분류</a>
	                                        </li>
	                                    </ul>
	                                    <!-- /.nav-third-level -->
	                                </li>	                                
	                            </ul>
	                            <!-- /.nav-second-level -->
	                        </li>
	                    </ul>
	                </div>
	                <!-- /.sidebar-collapse -->
	            </div>
	            <!-- /.navbar-static-side -->
	        </nav>

	        <div id="page-wrapper">
                <div class="row">
	                <div class="col-md-12">
	                    <h1 class="page-header">가계부관리</h1>
	                </div>
	                <!-- /.col-lg-12 -->
	            </div>
                <!-- /.row -->
                <div class="row">
	                <div class="col-lg-12">
	                    <div class="panel panel-default">
	                    	<div class="panel-heading">
	                            <span class="glyphicon glyphicon-chevron-left"></span>
	                            <span id="sp_date">2015.06.01 ~ 2015.06.30</span>
	                            <span class="glyphicon glyphicon-chevron-right"></span>
	                            <div class="pull-right">
	                            	<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#accountbookModal">등록</button>
	                            </div>
	                        </div>
	                        <div class="panel-body">
	                        	<div class="dataTable_wrapper">
	                                <table class="table table-striped table-bordered table-hover" id="tb_accountbook">
	                                    <thead>
	                                        <tr>
	                                            <th>날짜</th>
	                                            <th>내역</th>
	                                            <th>금액</th>
	                                            <th>대분류</th>
	                                            <th>소분류</th>
	                                            <th>계좌</th>
	                                            <th>메모</th>
	                                        </tr>
	                                    </thead>
	                                </table>
	                            </div>
	                            <!-- /.table-responsive -->
	                        </div>
	                        <!-- /.panel-body -->
	                    </div>
	                    <!-- /.panel -->
	                </div>
	                <!-- /.col-lg-12 -->

	                <!-- Modal -->
                    <div class="modal" id="accountbookModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">가계부작성</h4>
                                </div>
                                <form role="form" id="accountbookForm">
                                	<div class="modal-body">
                                		<div class="container-fluid">
                                			<div class="row">
								              	<div class="col-sm-12">
									                <div class="form-group">
			                                            <label>유형</label>
			                                            <select class="form-control" id="sel_howType">
			                                            </select>
			                                        </div>
			                                        <div class="row">
			                                        	<div class="col-sm-6">
					                                        <div class="form-group">
					                                            <label>날짜</label>
					                                            <input class="form-control" type="date" id="dt_date"/>
					                                        </div>
					                                    </div>
					                                    <div class="col-sm-6">
					                                    	<div class="form-group">
					                                            <label>내역</label>
					                                            <input class="form-control" type="text" id="txt_what"/>
					                                        </div>
					                                    </div>
			                                        </div>
			                                        <div class="row">
			                                        	<div class="col-sm-6">
					                                        <div class="form-group">
					                                            <label>금액</label>
					                                            <input class="form-control" type="number" style="text-align:right;" step="1" id="txt_howmuch"/>
					                                        </div>
					                                    </div>
					                                    <div class="col-sm-6">
					                                    	<div class="form-group">
					                                            <label>계좌</label>
					                                            <select class="form-control" id="sel_assetType">
					                                            </select>
					                                        </div>
					                                    </div>
			                                        </div>			                                        
			                                        <div class="row">
			                                        	<div class="col-sm-6">
					                                        <div class="form-group">
					                                            <label>대분류</label>
					                                            <select class="form-control" id="sel_category">
					                                            </select>
					                                        </div>
					                                    </div>
					                                    <div class="col-sm-6">
					                                    	<div class="form-group">
					                                            <label>소분류</label>
					                                            <select class="form-control" id="sel_subCategory">
					                                            </select>
					                                        </div>
					                                    </div>
			                                        </div>
			                                        <div class="form-group">
			                                            <label>메모</label>
			                                            <input class="form-control" type="text" id="memo" />
			                                        </div>
								              	</div>
								            </div>
                                		</div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                                        <button type="submit" class="btn btn-primary">확인</button>
                                    </div>
                                </form>
                        	</div>                                        
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
			    </div>
	            <!-- /.row -->
	        </div>
	        <!-- /#page-wrapper -->

		</div>
		<!-- /#wrapper -->

		<script type="text/javascript" src="style/js/egunUtility.js"></script>
		
		<script type="text/javascript" src="style/lib/jquery-1.11.1.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

		<!-- Bootstrap Core JavaScript -->
    	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

		<!-- Metis Menu Plugin JavaScript -->
    	<script src="bower_components/metisMenu/dist/metisMenu.min.js"></script>

    	<!-- DataTables JavaScript -->
	    <script src="bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
	    <script src="bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

		<!-- Custom Theme JavaScript -->
    	<script src="style/js/sb-admin-2.js"></script>

		<script type="text/javascript">
		<!--//

			$(function() {

				setBaseDay();

				var tb_accountbook = $('#tb_accountbook').dataTable({
					processing : true,
					serverSide: true,
			        ordering: false,
			        searching: false,
			        info: false,
			        ajax: function ( data, callback, settings ) {
						
						var params = {
							start : data.start,
							fromDate : '2015-06-01',
							toDate : '2015-06-31'
						};

						return $.ajax({
							url : "/apis/booklogs/getAccountBookLogs",
							data : params,
							dataType: "json",
							success: function(json) {
								var result = {
									draw : data.draw,
									data : json.value,
									recordsTotal: json.value.length,
									recordsFiltered: json.value.length
								};

								callback(result);
							}
						});
					},
			        columns : [
			        	{ "data": "whenDate" },
			            { "data": "what" },
			            { "data": "howmuch", "sClass": "rigth", render: $.fn.dataTable.render.number( ',', '.', 0, '' ) },
			            { "data": "categoryName" },
			            { "data": "subCategoryName" },
			            { "data": "assetName" },
			            { "data": "memo" }
			        ],
			        dom: "rtiS",
			        deferRender: true,
			        scrollY: 300,
			        scroller: {
			            loadingIndicator: true
			        },
			        language: {
			            zeroRecords: "내역이 없습니다."
			        }
				});

				$('#tb_accountbook tbody').on( 'dblclick', 'tr', function () {
			        var selectedIdx = $(this).index();
		            //tb_accountbook.fnGetData()[selectedIdx]

		            $('#accountbookModal').data('selectedIdx', selectedIdx);
		            $('#accountbookModal').modal('show');
			    });

				$('#accountbookModal').on('show.bs.modal', function (event) {
					var url = "/apis/booklogs/getHowTypes";

					EgunUtility.doGet(url, {}, function(result) {
						var html = '';
						for (var i=0; i<result.length; i++) {
							html += '<option value='+result[i].code+'>'+result[i].koreaName+'</option>';
						}
						$('#sel_howType').html(html);
						$('#sel_howType').trigger('change');
			        });

			        url = "/apis/assets/getAssets";

			        EgunUtility.doGet(url, {}, function(result) {
						var html = '';
						for (var i=0; i<result.length; i++) {
							html += '<option value='+result[i].oid+'>'+result[i].name+'</option>';
						}
						$('#sel_assetType').html(html);
			        });

			        url = "/apis/booklogs/getAccountBookLog";
			        var selectedIdx = $(event.target).data('selectedIdx');
			        var param = {
			        	oid : tb_accountbook.fnGetData()[selectedIdx].oid
			        }

			        EgunUtility.doGet(url, param, function(result) {
						
			        });

			     //    var button = $(event.relatedTarget);
			     //    var selectedIdx = button.data('selectedIdx');

			        var modal = $(this);
			        modal.find('.modal-body input#dt_date').val(formatDate(new Date()));
			     //    if (selectedIdx != null) {
			     //    	var asset = tb_accountbook.fnGetData()[selectedIdx];
			        	
			     //    	modal.find('.modal-body #sel_assetType[value='+asset.assetType.code+']').prop("selected", true);
					  	// modal.find('.modal-body input#name').val(asset.name).data('assetOid', asset.oid);
					  	// modal.find('.modal-body input#balance').val(asset.balance);
		  				// modal.find('.modal-body input#memo').val(asset.memo);
			     //    } else {
			     //    	modal.find('.modal-body #sel_assetType:first').prop("selected", true);
					  	// modal.find('.modal-body input#name').val('').data('assetOid', '');
					  	// modal.find('.modal-body input#balance').val('');
		  				// modal.find('.modal-body input#memo').val('');
			     //    }
				});
				
				var category;
				$('#sel_howType').on('change', function() {
					var url = "/apis/category/getAccountBookCategories";
					var param = {
						"howType" : $(this).val()
					};

					EgunUtility.doGet(url, param, function(result) {
						var html = '';
						for (var i=0; i<result.length; i++) {
							html += '<option value='+result[i].oid+'>'+result[i].name+'</option>';
						}
						$('#sel_category').html(html);

						category = result;
						$('#sel_category').trigger('change');
			        });
				});

				$('#sel_category').on('change', function() {
					var html = '';
					for (var i=0; i<category.length; i++) {
						var thisCategory = category[i];
						if (thisCategory.oid != $(this).val()) continue;

						for (var subIdx=0; subIdx<thisCategory.subCategories.length; subIdx++) {
							html += '<option value='+thisCategory.subCategories[subIdx].oid+'>'+thisCategory.subCategories[subIdx].name+'</option>';
						}
					}
					$('#sel_subCategory').html(html);
				});

				$('#accountbookForm').submit(function() {

			    	var url = '/apis/booklogs/setAccountBookLog';
			    	var bookLog = {
			    		'whenDate' : $('#dt_date').val()
			    		, 'what' : $('#txt_what').val()
			    		, 'howmuch' : $('#txt_howmuch').val()
			    		, 'how' : $('#sel_howType').val()
			    		, 'relatedAsset' : { 'oid' : $('#sel_assetType').val() }
			    		, 'relatedCategory' : { 'oid' : $('#sel_subCategory').val() }
			    		, 'memo' : $('#memo').val()
			    	};

			        EgunUtility.doNativePost(url, bookLog, function() {
			        	location.href='/accountbook';
			        });
			    });

			    $("button.btn-remove").on('click', function(){
			    	var selectedIdx = $(this).data("selectedIdx");
			    	var asset = tb_accountbook.fnGetData()[selectedIdx];

			    	var url = '/apis/assets/deleteAsset';
			    	var param = {
			    		'oid' : asset.oid
			    	};

			        EgunUtility.doPost(url, param, function() {
			        	location.href='/assets';
			        });
			    });
			});

			/**
			 * 로그인 한 사용자의 현재 가계부 정보를 조회
			 */
			var setBaseDay = function() {
				var url = '/apis/books/getCurrentAccountBookWithThisMonthLogs';
				var param = {};

				EgunUtility.doGet(url, param, function(book) {
					var currentDate = new Date();

					$('#sp_date').html(makePrintDate(new Date(currentDate.getFullYear(), currentDate.getMonth(), book.baseDay))+ "~" +makePrintDate(new Date(currentDate.getFullYear(), currentDate.getMonth()+1, book.baseDay-1)));
				});
			}

			// 출력용 날짜 만들기 (YYYYMMDD)
			var makePrintDate = function(date) {
			    var str = date.getFullYear() + ".";
			    str += makeStrTwoLenght(date.getMonth() + 1) + ".";
			    str += makeStrTwoLenght(date.getDate());
			    return str;
			}

			// 두자리수 날짜 만들기
			var makeStrTwoLenght = function(value) {
			    if (value < 10) {
			        value = "0" + value;
			    }
			    return value;
			}

			var formatDate = function(date) {
			    var d = new Date(date);
			    var month = '' + (d.getMonth() + 1);
			    var day = '' + d.getDate();
			    var year = d.getFullYear();

			    if (month.length < 2) month = '0' + month;
			    if (day.length < 2) day = '0' + day;

			    return [year, month, day].join('-');
			}

		//-->
		</script>

	</body>
</html>
