<!DOCTYPE HTML>
<html lang="ko">
	<head>
	    <meta charset="utf-8"/>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	    <meta name="description" content=""/>
	    <meta name="author" content=""/>

	    <title>오동가계부</title>

	    <!-- Bootstrap Core CSS -->
    	<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

		<!-- MetisMenu CSS -->
    	<link href="bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet" />

    	<!-- DataTables CSS -->
	    <link href="bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />

	    <!-- DataTables Responsive CSS -->
	    <link href="bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet" />

		<!-- Custom CSS -->
		<link rel="stylesheet" type="text/css" href="style/css/sb-admin-2.css" />

		<!-- Custom Fonts -->
    	<link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

  	</head>

	<body>

		<div id="wrapper">

			<!-- Navigation -->
        	<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand" href="index.html">오동가계부</a>
	            </div>
	            <!-- /.navbar-header -->

	            <ul class="nav navbar-top-links navbar-right">
	                <li class="dropdown">
	                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
	                    </a>
	                    <ul class="dropdown-menu dropdown-messages">
	                        <li>
	                            <a href="#">
	                                <div>
	                                    <strong>2015.06.09 22:59</strong>
	                                </div>
	                                <div>신한체크승인 06/09 22:59 3,000원 씨유대전가장점 잔액94,233원</div>
	                            </a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a href="#">
	                                <div>
	                                    <strong>2015.06.09 22:59</strong>
	                                </div>
	                                <div>신한체크승인 06/09 22:59 3,000원 씨유대전가장점 잔액94,233원</div>
	                            </a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a href="#">
	                                <div>
	                                    <strong>2015.06.09 22:59</strong>
	                                </div>
	                                <div>신한체크승인 06/09 22:59 3,000원 씨유대전가장점 잔액94,233원</div>
	                            </a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a class="text-center" href="#">
	                                <strong>SMS 더보기</strong>
	                                <i class="fa fa-angle-right"></i>
	                            </a>
	                        </li>
	                    </ul>
	                    <!-- /.dropdown-messages -->
	                </li>
	                <!-- /.dropdown -->

	                <li class="dropdown">
	                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
	                    </a>
	                    <ul class="dropdown-menu dropdown-alerts">
	                        <li>
	                            <a href="#">
	                                <div>
	                                    <i class="fa fa-comment fa-fw"></i> New Comment
	                                    <span class="pull-right text-muted small">4 minutes ago</span>
	                                </div>
	                            </a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a href="#">
	                                <div>
	                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
	                                    <span class="pull-right text-muted small">12 minutes ago</span>
	                                </div>
	                            </a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a href="#">
	                                <div>
	                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
	                                    <span class="pull-right text-muted small">4 minutes ago</span>
	                                </div>
	                            </a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a href="#">
	                                <div>
	                                    <i class="fa fa-tasks fa-fw"></i> New Task
	                                    <span class="pull-right text-muted small">4 minutes ago</span>
	                                </div>
	                            </a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a href="#">
	                                <div>
	                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
	                                    <span class="pull-right text-muted small">4 minutes ago</span>
	                                </div>
	                            </a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a class="text-center" href="#">
	                                <strong>See All Alerts</strong>
	                                <i class="fa fa-angle-right"></i>
	                            </a>
	                        </li>
	                    </ul>
	                    <!-- /.dropdown-alerts -->
	                </li>
	                <!-- /.dropdown -->

	                <li class="dropdown">
	                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
	                    </a>
	                    <ul class="dropdown-menu dropdown-user">
	                        <li><a href="#"><i class="fa fa-user fa-fw"></i> 내정보</a>
	                        </li>
	                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> 설정</a>
	                        </li>
	                        <li class="divider"></li>
	                        <li><a href="signin"><i class="fa fa-sign-out fa-fw"></i> 로그아웃</a>
	                        </li>
	                    </ul>
	                    <!-- /.dropdown-user -->
	                </li>
	                <!-- /.dropdown -->
	            </ul>
	            <!-- /.navbar-top-links -->

	            <div class="navbar-default sidebar" role="navigation">
	                <div class="sidebar-nav navbar-collapse">
	                    <ul class="nav" id="side-menu">
	                        <li class="sidebar-search">
	                            <div class="input-group custom-search-form">
	                                <input type="text" class="form-control" placeholder="Search..." />
	                                <span class="input-group-btn">
		                                <button class="btn btn-default" type="button">
		                                    <i class="fa fa-search"></i>
		                                </button>
		                            </span>
	                            </div>
	                            <!-- /input-group -->
	                        </li>
	                        <li>
	                            <a href="#"><i class="fa fa-table fa-fw"></i> 가계부<span class="fa arrow"></span></a>
	                            <ul class="nav nav-second-level">
	                                <li>
	                                    <a href="#">가계부관리</a>
	                                </li>
	                                <li>
	                                    <a href="#">가계부통계</a>
	                                </li>
	                            </ul>
	                            <!-- /.nav-second-level -->
	                        </li>
	                        <li>
	                            <a href="#"><i class="fa fa-credit-card fa-fw"></i> 카드<span class="fa arrow"></span></a>
	                            <ul class="nav nav-second-level">
	                                <li>
	                                    <a href="#">카드관리</a>
	                                </li>
	                                <li>
	                                    <a href="#">카드통계</a>
	                                </li>
	                            </ul>
	                            <!-- /.nav-second-level -->
	                        </li>
	                        <li>
	                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 예결산<span class="fa arrow"></span></a>
	                            <ul class="nav nav-second-level">
	                                <li>
	                                    <a href="flot">결산관리</a>
	                                </li>
	                                <li>
	                                    <a href="morris">예산관리</a>
	                                </li>
	                            </ul>
	                            <!-- /.nav-second-level -->
	                        </li>
	                        <li class="active">
	                            <a href="#"><i class="fa fa-won fa-fw"></i> 자산<span class="fa arrow"></span></a>
	                            <ul class="nav nav-second-level">
	                                <li class="active">
	                                    <a href="assets">자산관리</a>
	                                </li>
	                                <li>
	                                    <a href="#">자산통계</a>
	                                </li>
	                            </ul>
	                            <!-- /.nav-second-level -->
	                        </li>
	                        <li>
	                            <a href="#"><i class="fa fa-wrench fa-fw"></i> 설정<span class="fa arrow"></span></a>
	                            <ul class="nav nav-second-level">
	                            	<li>
                                        <a href="settings">가계부설정</a>
                                    </li>
                                    <li>
                                        <a href="#">사용자설정</a>
                                    </li>
	                                <li>
	                                    <a href="#">기초자료 <span class="fa arrow"></span></a>
	                                    <ul class="nav nav-third-level">
	                                        <li>
	                                            <a href="#">월고정금액</a>
	                                        </li>
	                                        <li>
	                                            <a href="settings-category">분류</a>
	                                        </li>
	                                    </ul>
	                                    <!-- /.nav-third-level -->
	                                </li>	                                
	                            </ul>
	                            <!-- /.nav-second-level -->
	                        </li>
	                    </ul>
	                </div>
	                <!-- /.sidebar-collapse -->
	            </div>
	            <!-- /.navbar-static-side -->
	        </nav>

	        <div id="page-wrapper">
                <div class="row">
	                <div class="col-md-12">
	                    <h1 class="page-header">자산관리</h1>
	                </div>
	                <!-- /.col-lg-12 -->
	            </div>
                <!-- /.row -->
                <div class="row">
	                <div class="col-lg-4">
	                    <div class="panel panel-default">
	                    	<div class="panel-heading">
	                            자산
	                        </div>
	                        <div class="panel-body">
	                        	<div class="list-group">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small"><em>4 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small"><em>12 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small"><em>27 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small"><em>43 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small"><em>11:32 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-bolt fa-fw"></i> Server Crashed!
                                    <span class="pull-right text-muted small"><em>11:13 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-warning fa-fw"></i> Server Not Responding
                                    <span class="pull-right text-muted small"><em>10:57 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
                                    <span class="pull-right text-muted small"><em>9:49 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-money fa-fw"></i> Payment Received
                                    <span class="pull-right text-muted small"><em>Yesterday</em>
                                    </span>
                                </a>
                            </div>

								<button class="btn btn-default btn-block" data-toggle="modal" data-target="#categoryModal" data-howtype="IN">
	                                <i class="fa fa-plus fa-fw"></i> 등록
	                            </button>
	                        </div>
	                        <!-- /.panel-body -->
	                    </div>
	                    <!-- /.panel -->
	                </div>
	                <!-- /.col-lg-4 -->
	                <div class="col-lg-8">
	                    <div class="panel panel-default">
	                    	<div class="panel-heading">
	                            지출
	                        </div>
	                        <div class="panel-body">
	                        	<ul class="list-group" id="sortable-out"></ul>

								<button class="btn btn-default btn-block" data-toggle="modal" data-target="#categoryModal" data-howtype="OUT">
	                                <i class="fa fa-plus fa-fw"></i> 등록
	                            </button>
	                        </div>
	                        <!-- /.panel-body -->
	                    </div>
	                    <!-- /.panel -->
	                </div>
	                <!-- /.col-lg-8 -->

	                <!-- Modal -->
                    <div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">분류등록</h4>
                                </div>
                                <form role="form" id="categoryForm">
                                	<div class="modal-body">
                                    	<div class="form-group">
                                            <label>구분</label>
                                            <div class="btn-group" data-toggle="buttons">
											  	<label class="btn btn-default active">
											    	<input type="radio" value="ITEM" name="categoryType" autocomplete="off" checked="true" /> 항목
											  	</label>
											  	<label class="btn btn-default">
											    	<input type="radio" value="GROUP" name="categoryType" autocomplete="off"/> 그룹
											  	</label>
											</div>
                                        </div>
                                        <div class="form-group">
                                            <label>항목명</label>
                                            <input class="form-control" type="text" id="name"/>
                                        </div>
                                        <!--
                                        <div class="form-group">
                                            <label>사용시작일</label>
                                            <input class="form-control" type="date" />
                                        </div>
                                        <div class="form-group">
                                            <label>사용종료일</label>
                                            <input class="form-control" type="date" />
                                        </div>
                                        -->
                                        <div class="form-group">
                                            <label>메모</label>
                                            <input class="form-control" type="text" id="memo" />
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                                        <button type="submit" class="btn btn-primary">확인</button>
                                    </div>
                                </form>
                        	</div>                                        
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
			    </div>
	            <!-- /.row -->
	        </div>
	        <!-- /#page-wrapper -->

		</div>
		<!-- /#wrapper -->

		<script type="text/javascript" src="style/js/egunUtility.js"></script>
		
		<script type="text/javascript" src="style/lib/jquery-1.11.1.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

		<!-- Bootstrap Core JavaScript -->
    	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

		<!-- Metis Menu Plugin JavaScript -->
    	<script src="bower_components/metisMenu/dist/metisMenu.min.js"></script>

    	<!-- DataTables JavaScript -->
	    <script src="bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
	    <script src="bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

		<!-- Custom Theme JavaScript -->
    	<script src="style/js/sb-admin-2.js"></script>

		<script type="text/javascript">
		<!--//

			$(function() {
				// TODO 가계부 조회
				getDefaultBook();

				// back to top
			    setTimeout(function () {
			      var $sideBar = $('.bs-sidebar')
			      var $calendar = $('.bs-calender')

			      $sideBar.affix({
			        offset: {
			          top: function () {
			            var offsetTop      = $sideBar.offset().top
			            var sideBarMargin  = parseInt($sideBar.children(0).css('margin-top'), 10)
			            var navOuterHeight = $('.bs-docs-nav').height()

			            return (this.top = offsetTop - navOuterHeight - sideBarMargin)
			          }
			        }
			      })
			      $calendar.affix({
			        offset: {
			          top: function () {
			            var offsetTop      = $calendar.offset().top
			            var calendarMargin  = parseInt($calendar.children(0).css('margin-top'), 10)
			            var navOuterHeight = $('.bs-docs-nav').height()

			            return (this.top = offsetTop - navOuterHeight - calendarMargin)
			          }
			        }
			      })
			    }, 100)

				makeMiniDiary();

				$('#writeModal').on('show.bs.modal', function () {
					$("input[type=date]").each(function() {
						$(this).attr("value", "2014-06-17");
					});

/*
					$accounts = $("select[id=accounts]");
					$.getJSON('data/accounts.json', function(data) {
						$accounts.loadAccounts(data);
			        });

			        $category1 = $("select[id=category1]");

			        var type = $("#myTabContent").children("div[class~=active]").attr('id');

			        $.getJSON('data/categories.json', function(data) {
						//$category1.loadCategory1(data, type);
						$.each("data."+type, function(index, options) {
							$.each(options, function(index, option) {
								console.log(option.name);
							})

						});
			        });
*/
				});

				$('#money').on('blur',function(){
					// TODO 천단위 콤마
				});

				$('#btnSave').on('click', function(){
					btnSave();
				});

			});

			// TODO 자주사용하는 작성 목록을 선택했을 때 값을 넘겨주어야 함.
			function selectFavorite(id) {

			}

			function logout() {
				location.href = 'signin.html';
			}

			function getDefaultBook() {
				var url = '/apis/books/getDefaultBookWithThisMonthLogs';
				var param = {};

				EgunUtility.doGet(url, param, function(book) {
					console.log(book);
				});
			}

			function btnSave() {
				var url = '/apis/booklogs/registerBookLog';
				var param = {
					'bookOid' : '1',
					'howType' : 'IN'
				};

				EgunUtility.doPost(url, param, function() {
					alert("저장이 완료되었습니다.");
				});
			}
/*
			(function($) {
			  $.fn.emptySelect = function() {
			    return this.each(function(){
			      if (this.tagName=='SELECT') this.options.length = 0;
			    });
			  }

			  $.fn.loadAccounts = function(optionsDataArray) {
			    return this.emptySelect().each(function(){
			      if (this.tagName=='SELECT') {
			        var selectElement = this;
			        $.each(optionsDataArray,function(index,optionData){
			          var option = new Option(optionData.name, optionData.id);

			          selectElement.add(option,null);
			        });
			      }
			    });
			  }

			  $.fn.loadCategory1 = function(optionsDataArray, type) {
			    return this.emptySelect().each(function(){
			      if (this.tagName=='SELECT') {
			        var selectElement = this;
			        $.each("optionsDataArray."+type,function(index,optionData){
				          var option = new Option(optionData.name, optionData.id);
				          selectElement.add(option,null);
			        });
			      }
			    });
			  }
			})(jQuery);
*/
		//-->
		</script>

	</body>
</html>
