<!DOCTYPE HTML>
<html lang="ko">
	<head>
	    <meta charset="utf-8"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	    <meta name="description" content=""/>
	    <meta name="author" content=""/>

	    <title>오동가계부 로그인</title>

	    <link rel="stylesheet" type="text/css" href="style/lib/bootstrap-3.0.0/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="style/css/docs.css" />

		<script type="text/javascript" src="style/lib/jquery-1.11.1.js"></script>
		<script type="text/javascript" src="style/js/egunUtility.js"></script>
  </head>


  <body style="background-color: #eee;">
    <div class="container">
      <form id="signinForm" class="form-signin" >
        <h2 class="form-signin-heading">먼저, 로그인하세요!</h2>
        <input type="email" class="form-control" placeholder="이메일주소" />
        <input type="password" class="form-control" placeholder="비밀번호" />
        <label class="checkbox">
          <input type="checkbox" value="remember-me" /> ID 저장하기
        </label>

        <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>

        <div class="alert alert-danger" style="margin-top:10px; display:none;">
          <strong>[!]</strong>
        </div>

        <h6 class="form-signin-forgot"><a href="#">비밀번호가 기억나지 않으세요?</a></h6>
        <h6 class="form-signin-forgot"><a href="#" onclick="location.href='/signup'">아직 회원이 아니신가요?</a></h6>

      </form>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  	<script type="text/javascript">
  	$(document).ready(function() {
  		$("#signinForm").submit(function() {
        var email = $("input[type=email]").val();
        var password = $("input[type=password]").val();

        if (email == "" || password == "") {
          $(".alert").html("<strong>[!]</strong> 이메일주소와 비밀번호를 입력하세요.").show();
          return false;
        } else  {
          $(".alert").hide();
        }

  			var url = '/apis/users/signin';
  			var param = {
  				'email' : email
  				, 'password' : password
  			}

  			EgunUtility.doPost(url, param, function() {
  				location.href='/calendar';
  			});

  			return false;
  		});
  	});
  	</script>

	</body>
</html>
