<!DOCTYPE HTML>
<html lang="ko">
	<head>
	    <meta charset="utf-8"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	    <meta name="description" content=""/>
	    <meta name="author" content=""/>

	    <title>오동가계부 가입하기</title>

	    <link rel="stylesheet" type="text/css" href="style/lib/bootstrap-3.0.0/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="style/css/docs.css" />

  	</head>

  	<body>
		<div class="container">
			<div class="alert alert-success">
				<strong>가입완료!</strong> 입력하신 이메일주소로 메일을 전송하였습니다.
			</div>
			<div class="jumbotron">
				<h1 style="margin-bottom:20px;">안녕하세요!</h1>
				<p></p>
				<p>언제, 어디에서나 쓸 수 있는 오동가계부 입니다.</p>
				<p>가족과 함께 쓰세요!</p>
				<a class="btn btn-primary btn-lg">Learn more</a>
			</div>
		</div>

	</body>
</html>